h1{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.chart{
  margin-left: 5%;
  margin-right: 5%;
  height: 300px;
}

.pie{
  margin-left: 20%;
  height: 100%;
}

.calendar{
  margin-left: 20%;
}

.list{
  list-style-type: none;
}

.center
{
  text-align: center;
}

.hidden{
  display: none;
}

.pad{
  padding-top: 5%;
  padding-left: 5%;
}

.mobile_text_adjust{
  text-size-adjust: auto;
}
