<!DOCTYPE html>

<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=XXXXXXXXXXX"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'XXXXXXXXXXXXX');
  </script>

  <!-- bootstrap css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <!-- css file -->
  <link href='{{url_for('static', filename='styles.css')}}' rel="stylesheet"></link>
  <title>{% block title %}{% endblock %}</title>
  {% block head %}{% endblock %}
</head>

<body>
  <main>
    {% block main %}{% endblock %}
  </main>
</body>
